body {
    background-color: #000000;
}

.ENVIRONMENT {
    color: #000000;
    font-size: 20px;
}


/*point=class*/

.site-description {
    color: rgb(22, 22, 21);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/*hastage=ID*/


/* h1 header */

.font-title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}


/* h2 header */

.font-p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
}

div .a {
    font-size: 25px;
    color: brown;
    background-image: url('');
}

img {
    opacity: 1;
    width: 50%;
    height: 50%;
    margin: 20px;
    border: 3px solid #000000;
    padding: 6px;
}

#logo {
    width: 100px;
    font-size: 40px;
    margin-left: 30%;
    color: black;
}

#logo div {
    width: 200px;
    font-size: 30px;
    margin-left: 30%;
    color: rgb(0, 0, 0);
}


/* header {
    background-color: black;
    opacity: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    padding-right: 50px;
} */

.logo {
    text-decoration: none;
    color: black;
    padding-right: 50px;
    text-transform: capitalize;
}

.nav-list {
    text-decoration: none;
    color: black;
    padding-right: 50px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
}

.nav-list:hover {
    color: #11a1de;
}

header {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: -24px;
    margin-left: -20px;
}

.img-artist {
    color: #ffffff;
    display: flex;
    align-items: center;
}


/* .img-artist::first-line {
    font-size: 50px;
} */

.home-img-size {
    width: 460px;
    height: 300px;
    margin: 40px;
}

.artist-description {
    padding: 10px 20px;
}

.artist {
    font-size: 40px;
    font-style: oblique;
    font-weight: bold;
}

.img-description {
    font-size: 20px;
}

.loading-area{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}